
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
  pointer-events: none;
  color: #ffffff;
  font-size: 15px;
  margin: 10px;
  width: 100%;
  }
  
.project-info {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 20px;
  
  }

.project-description {
  font-size: 20px;
  font-weight: 900;
}

.project-video {
  display: flex;
  flex-direction: column;
  width: 900px;
  object-fit: cover;
  margin: 80px;

}

.external-links {
 display: flex;
 outline: none;
 text-decoration: none;
}

ul {
display: flex;
flex-direction: column;

  }

li {
  padding-top: 10px;
}

a {
text-decoration: none;
}
