.video {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
},

@media (max-width: 415px) {
    .video {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: -400px;
    }

  }
